include _head
include _end

//- include ../../components/svg-sprite/svg-sprite

<!DOCTYPE html>
html(lang="ru")

  block vars

  +head()

  body.page

    div.page__wrapper

      block content

    +end()