.deskWrapper {
  background: url("../img/deskWrapper/background.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 21px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}




